{% extends 'base.html' %}
{% block title %}
password reset confirm
{% endblock %}
{% block body %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Reset Password</h2>
                    <p>Enter your new password to complete the password reset process.</p>

                    <form method="POST" action="{% url 'reset_password_confirm' user.id %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="new_password">New Password:</label>
                            <input type="password" class="form-control" name="new_password" required>
                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm Password:</label>
                            <input type="password" class="form-control" name="confirm_password" required>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
